<a href="https://colab.research.google.com/github/daniel0406070/Data-SCI-basic/blob/master/MyLotto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# 랜덤 넘버 제너레이터 시작~~
np.random.seed(3)

In [ ]:
# a parameter: generate a list of unique random numbers (from 0 to 11)
# size parameter: how many samples we want (12)
# replace = True: sample with replacement
buyCount = 10000000
buyLottoList = []
index = np.arange(1, buyCount+1,1)
#index
for i in np.arange(buyCount):
  num_sel_temp = np.random.choice(a=45, size=6, replace=False)
  # 뽑은 6개 숫자 보정
  num_sel = [(b+1) for b in num_sel_temp]
  num_sel = sorted(num_sel)
  buyLottoList.append(num_sel)

In [ ]:
myLotto = [32, 18, 20, 21, 37, 39]
myLotto= sorted(myLotto)
myLotto

[18, 20, 21, 32, 37, 39]

In [ ]:
lotto = Table().with_columns(
    'Index', index,
    'Number', buyLottoList
    )
lotto

Index | Number
1     | [10 13 14 17 24 45]
2     | [10 15 20 27 37 41]
3     | [7 15 16 24 38 42]
4     | [3 4 11 26 28 30]
5     | [4 20 24 28 33 41]
6     | [2 16 28 29 31 41]
7     | [10 11 17 29 36 45]
8     | [12 16 28 30 33 40]
9     | [3 8 17 18 23 30]
10    | [5 7 17 20 34 45]
... (9999990 rows omitted)

In [ ]:
#numSel = lotto.sample(6, False) # sampling without replacement
#numSel

In [ ]:
def win_lotto(lotto):
  for i in range(buyCount):
    if lotto == buyLottoList[i]:
      return 1
  return -1

def win_lotto_count(lotto):
  cnt = 0
  for i in range(buyCount):
    if lotto == buyLottoList[i]:
      cnt = cnt +1
  return cnt

In [ ]:
win_lotto(myLotto)

-1

In [ ]:
 win_lotto_count(myLotto)

0