In [1]:
import numpy as np
import pandas as pd
from datascience import *
%matplotlib inline

path_data="/home/daniel/code_space/Data-SCI-basic/csv/"

In [2]:
top1 = Table.read_table(path_data + 'top_movies.csv')
top2 = top1.with_column('Row Index', np.arange(top1.num_rows))
top = top2.move_to_start('Row Index')

top.set_format(make_array(3, 4), NumberFormatter)

Row Index | Title                                     | Studio               | Gross       | Gross (Adjusted) | Year
0         | Star Wars: The Force Awakens              | Buena Vista (Disney) | 906,723,418 | 906,723,400      | 2015
1         | Avatar                                    | Fox                  | 760,507,625 | 846,120,800      | 2009
2         | Titanic                                   | Paramount            | 658,672,302 | 1,178,627,900    | 1997
3         | Jurassic World                            | Universal            | 652,270,625 | 687,728,000      | 2015
4         | Marvel's The Avengers                     | Buena Vista (Disney) | 623,357,910 | 668,866,600      | 2012
5         | The Dark Knight                           | Warner Bros.         | 534,858,444 | 647,761,600      | 2008
6         | Star Wars: Episode I - The Phantom Menace | Fox                  | 474,544,677 | 785,715,000      | 1999
7         | Star Wars                                 | Fox                  | 460,998,007 | 1,549,640,500    | 1977
8         | Avengers: Age of Ultron                   | Buena Vista (Disney) | 459,005,868 | 465,684,200      | 2015
9         | The Dark Knight Rises                     | Warner Bros.         | 448,139,099 | 500,961,700      | 2012
... (190 rows omitted)

In [3]:
top.take(make_array(3, 18, 100))

Row Index | Title              | Studio    | Gross       | Gross (Adjusted) | Year
3         | Jurassic World     | Universal | 652,270,625 | 687,728,000      | 2015
18        | Spider-Man         | Sony      | 403,706,375 | 604,517,300      | 2002
100       | Gone with the Wind | MGM       | 198,676,459 | 1,757,788,200    | 1939

In [4]:
top.where('Title', are.containing('Harry Potter'))

Row Index | Title                                       | Studio       | Gross       | Gross (Adjusted) | Year
22        | Harry Potter and the Deathly Hallows Part 2 | Warner Bros. | 381,011,219 | 417,512,200      | 2011
43        | Harry Potter and the Sorcerer's Stone       | Warner Bros. | 317,575,550 | 486,442,900      | 2001
54        | Harry Potter and the Half-Blood Prince      | Warner Bros. | 301,959,197 | 352,098,800      | 2009
59        | Harry Potter and the Order of the Phoenix   | Warner Bros. | 292,004,738 | 369,250,200      | 2007
62        | Harry Potter and the Goblet of Fire         | Warner Bros. | 290,013,036 | 393,024,800      | 2005
69        | Harry Potter and the Chamber of Secrets     | Warner Bros. | 261,988,482 | 390,768,100      | 2002
76        | Harry Potter and the Prisoner of Azkaban    | Warner Bros. | 249,541,069 | 349,598,600      | 2004

In [5]:
"""Choose a random start among rows 0 through 9;
then take every 10th row."""

start = np.random.choice(np.arange(10))
top.take(np.arange(start, top.num_rows, 10))

Row Index | Title                                        | Studio               | Gross       | Gross (Adjusted) | Year
7         | Star Wars                                    | Fox                  | 460,998,007 | 1,549,640,500    | 1977
17        | The Hunger Games                             | Lionsgate            | 408,010,692 | 442,510,400      | 2012
27        | The Passion of the Christ                    | NM                   | 370,782,930 | 519,432,100      | 2004
37        | Alice in Wonderland (2010)                   | Buena Vista (Disney) | 334,191,110 | 365,718,600      | 2010
47        | Star Wars: Episode II - Attack of the Clones | Fox                  | 310,676,740 | 465,175,700      | 2002
57        | The Sixth Sense                              | Buena Vista (Disney) | 293,506,292 | 500,938,400      | 1999
67        | The Hangover                                 | Warner Bros.         | 277,322,503 | 323,343,300      | 2009
77        | Raiders of the Lost Ark                      | Paramount            | 248,159,971 | 770,183,000      | 1981
87        | The Lost World: Jurassic Park                | Universal            | 229,086,679 | 434,216,600      | 1997
97        | Austin Powers: The Spy Who Shagged Me        | New Line             | 206,040,086 | 352,863,900      | 1999
... (10 rows omitted)